body {
  background-color: rgba(0, 0, 0, 0.1);
}

#title {
    margin: 1em;
}

#title-link {
    text-decoration: none;
    color: rgba(255, 0, 0, 0.44);
    font-size: 1.5em;
}

#footer {
    margin-top: 5em;
    align-self: flex-end;
}

.delete-icons {
    color: rgba(172, 172, 172, 0);
    cursor:pointer;
    margin-left: 4.25em;
}

@media screen and (max-width: 720px){
  .delete-icons {
      margin-left: 1.5em;
  }
}

.todolist-entry {
  font-size: 1.5em;
}

.todolist:hover .delete-icons {
    color: rgba(172, 172, 172, 0.6);
    cursor:pointer;
}
