body {
  background-color: rgba(0, 0, 0, 0.1);
}

#title {
  margin: 1em;
}

#title-link {
  text-decoration: none;
  color: rgba(255, 0, 0, 0.44)
}

#footer {
  margin-top: 5em;
  align-self: flex-end;
}
